bin/
lib/
**/include/**/*_export.hpp
**/include/**/lib_conf.hpp

CMakeFiles/
CMakeCache.txt
*.cmake

*.cbp
Makefile
**/*.vcxproj
**/*.vcxproj.filters
**/*.sln
**/*.dir/
Testing/
x64/

.qtc_clangd/
CMakeLists.txt.user*

html/
latex/
